{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class='d-flex justify-content-center m-5'>
  <div class='col-12 col-sm-9 '>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr onclick='location.href="{% url 'accounts:detail' user.pk %}"' style='cursor:pointer'>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ user.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock  %}