{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1>상세 페이지</h1>
<h1>
    {{ article.title }}
</h1>
<p>
    {{ article.content }}
</p>
{% if article.pimage  %}
<img src="{{ article.pimage.url }}" alt="{{ article.image }}">
{% elif article.image %}
<img src="{{ article.image.url }}" alt="{{ article.image }}">
{% endif %}
<h4>댓글</h4>
{% if request.user.is_authenticated %}
<form action="{% url 'articles:detail' article.pk %}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="댓글작성">
</form>
{% endif %}
<h3>댓글목록</h3>
{% for c in comments %}
<p class='mb-2'>{{ c.user.username }} | {{ c.content }}
{% if request.user == c.user %}
<a href="{% url 'articles:c_delete' article.pk  c.pk  %}" class='btn btn-primary'>삭제</a>
<a href="{% url 'articles:c_update' article.pk c.pk %}" class='btn'>수정</a>
{% endif %}
</p>

{% endfor %}
<div>
    <a href="{% url 'articles:index' %}">목록으로</a>
    {% if article.user == request.user %}
    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    {% endif %}
    <a href="{% url 'articles:delete' article.pk %}">삭제하기</a>
</div>
{% endblock  %}