{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <h1 class='text-center'>회원정보 업데이트</h1>
    <form action="{% url 'accounts:update' %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-center">
            <input type="submit" value="수정하기" class='btn btn-primary col-4 me-1'>
            <a href="{% url 'accounts:password' %}" class='btn btn-success col-4 me-1'>비밀번호 변경</a>
            <a href="{% url 'accounts:delete' %}" class='btn btn-danger col-4'>계정삭제</a>
        </div>
    </form>
    
</div>
{% endblock  %}