/* 아래에 CSS를 작성해주세요. */
.section {
    text-align: center;
    width:900px
}
.sub-title {
    display: block;
    font-size: 8px;
}
.card-list {
    width: 900px;
    box-sizing: border-box;
    margin-left: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.card {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.card-image {
    width: 290px;
    border-radius: 5%
}
.inner-p-2{
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 150%;
    margin-left: 8px;
}
.inner-p-1 {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 100%;
    margin-left: 10px;
}
.inner-p-0 {
    font-size: 12px;
    margin-left: 10px;
}