{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column justift-content-center">
    <h1 class="text-center fw-bolder py-5 my-5">심플 Todo List</h1>
    <form action="{% url 'crud:create' %}">
        <div class="input-group mb-3">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-default">해야할일</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" maxlength="80" required name="content">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-default">우선순위</span>
            <select class="form-select" aria-label="Default select example" name="priority">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-default">마감기한</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" required name="deadline">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-outline-primary btn-lg">할 일 추가</button>
        </div>
    </form>
    <form method="post">
        <table class="table table-hover my-3 text-center rounded">
            <thead>
                <tr class="table-primary">
                    <th scope="col">체크</th>
                    <th scope="col">할 일</th>
                    <th scope="col">중요도</th>
                    <th scope="col">시작일</th>
                    <th scope="col">마감일</th>
                    <th scope="col">완료도</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="{{ todo.id }}" name="pk">
                    </td>
                    <td>{{ todo.content }}</td>
                    <td>{{ todo.priority }}</td>
                    <td>{{ todo.created_at }}</td>
                    <td>{{ todo.deadline }}</td>
                    <td>{{ todo.completed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-lg w-100" formaction="{% url 'crud:update' %}">변
                    경</button>
                {% csrf_token %}
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-danger btn-lg w-100" formaction="{% url 'crud:delete' %}">삭
                    제</button>
                {% csrf_token %}
            </div>
        </div>
    </form>
</div>
{% endblock %}