{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class='d-flex justify-content-center m-5'>
    <div class='col-12 col-sm-9 col-md-7 col-lg-5'>

        <h1 class='mb-5 fw-bold'>{{ request.user }} 님의 비밀번호 변경</h1>
        <form action="{% url 'accounts:password' %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid">
                <input type='submit' class='btn btn-primary' value='비밀번호 변경'>
            </div>
        </form>
    </div>
</div>
{% endblock  %}