{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="row col-10 justify-content-center">
        <h1 class='text-center mt-4 fw-bold'>CSS 게시판</h1>
        <div class='row g-3 m-4'>
          {% for article in articles %}
          <div class="col-sm-12 col-md-6 col-lg-4 ">
            <div class="card">
              {% if article.image %}
              <img src="{{ article.image.url }}" class="card-img-top" alt="...">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" class="card-img-top" alt="">
              {% endif %}
                    <div class="card-body">
                      {% if article.category %}
                      <h5 class="card-title fw-bold mb-3">{{ article.category }}</h5>
                      {% endif %}
                      <h5 class="card-title">{{ article.title }}</h5>
                      <p class="card-text">{{ article.content }}</p>
                      <div class="d-grid">  
                        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-dark">자세히</a>
                      </div>
                    </div>
                  </div>
                </div>  
                {% endfor %}
              </div>
</div>
{% endblock  %}